section {
    padding: 0px;

    header {
        background-color: #093056;
        padding: 14px 20px;
        position: sticky;
        width: 100%;
        color: #fff;

        ul {
            list-style: none;
            padding: 0px;
            margin-bottom: 0;
        }
    }

    .php-email-form {
        margin-top: 100px;
    }
}


#preloader {
    background: rgba(0, 0, 0, .5) !important;
}

#preloader.hide {
    display: none;
}

#preloader.block {
    display: flex;
}

.error {
    position: absolute;
    top: 78px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #4e0a0a;
    width: 93%;
    padding: 8px;
    border-radius: 30px;
    color: #ff7e7e;
    border: 1px solid #ff3b3b;
}

.pswrd {
    -webkit-text-security: disc;
  text-security: disc;
}

.email {
    position: relative;
}
.email  span {
    position: absolute;
        background-color: #093056;
    top: 16px;
    right: 24px;
    padding: 1px 9px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 13px;
}