<!-- Process Section -->
  <section id="process" class="process section">

    <!-- Section Title -->
    <div class="container section-title aos-init " data-aos="fade-up">
      <h2>How I Work</h2>
      <p>A simple, collaborative process that keeps projects on track</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row g-4 steps">

        <div class="aos-init " data-aos="fade-up" data-aos-delay="100">
          <div class="step">
            <span class="num">01</span>
            <i class="bi bi-search"></i>
            <h3>Discover</h3>
            <p>I learn about your goals, users, and requirements so we can define the right solution from day one.</p>
          </div>
        </div>

        <div class="aos-init " data-aos="fade-up" data-aos-delay="200">
          <div class="step">
            <span class="num">02</span>
            <i class="bi bi-pencil-square"></i>
            <h3>Design</h3>
            <p>I turn ideas into clear, polished, and interactive designs — refining them together at every milestone.
            </p>
          </div>
        </div>

        <div class="aos-init " data-aos="fade-up" data-aos-delay="300">
          <div class="step">
            <span class="num">03</span>
            <i class="bi bi-code-square"></i>
            <h3>Build</h3>
            <p>I turn the designs into fully functional, responsive, and reliable digital solutions</p>
          </div>
        </div>

        <div class="aos-init " data-aos="fade-up" data-aos-delay="300">
          <div class="step">
            <span class="num">04</span>
            <i class="bi bi-gear-wide"></i>
            <h3>Q&A Testing</h3>
            <p>I thoroughly test the website or application to ensure everything works smoothly, looks great across
              device</p>
          </div>
        </div>

        <div class="aos-init " data-aos="fade-up" data-aos-delay="400">
          <div class="step">
            <span class="num">05</span>
            <i class="bi bi-rocket-takeoff"></i>
            <h3>Launch</h3>
            <p>I help you launch with confidence and provide support and improvements even after release.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /Process Section -->